<div class="title">
  <h1>TICKETS LIST</h1>
</div>
<mat-divider></mat-divider>
<div *ngIf="tickets$ | async" class="workflow">
  <div *ngIf="ticketsToDo$ | async as ticketsToDo" class="todo">
    <h2>TO DO</h2>
    <div *ngFor="let ticketToDo of ticketsToDo">
      <app-ticket [ticket]="ticketToDo"></app-ticket>
    </div>
  </div>
  <div *ngIf="ticketsDone$ | async as ticketsDone" class="done">
    <h2>DONE</h2>
    <div *ngFor="let ticketDone of ticketsDone">
      <app-ticket [ticket]="ticketDone"></app-ticket>
    </div>
  </div>
</div>
