<h1>TICKETS LIST</h1>
<div *ngIf="tickets$ | async" class="workflow">
  <div *ngIf="ticketsToDo$ | async as ticketsToDo" class="todo">
    <h2>TO DO</h2>
    <div *ngFor="let ticketToDo of ticketsToDo">
      <p>ID : {{ ticketToDo.id }}</p>
      <p>Description : {{ ticketToDo.description }}</p>
      <p>User : {{ (ticketToDo.user$ | async)?.name }}</p>
    </div>
  </div>
  <div *ngIf="ticketsDone$ | async as ticketsDone" class="done">
    <h2>DONE</h2>
    <div *ngFor="let ticketDone of ticketsDone">
      <p>ID : {{ ticketDone.id }}</p>
      <p>Description : {{ ticketDone.description }}</p>
      <p>User : {{ (ticketDone.user$ | async)?.name }}</p>
    </div>
  </div>
</div>
